!!! 5
head
  title Once Upon A Shaolin
  meta(name="description", content="Once Upon A Shaolin")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2")
  script(src="js/libs/modernizr.js")
  link(rel="stylesheet", href="style/style.css")

body#once-upon-a-shaolin
  div.container
    div#main
      canvas#canvas What is this? 2004? Get a real browser.
      //- img(src="assets/wu-tang.jpg")
      section#start.screen
        h1 Once Upon A Shaolin
        span.btn Start
        p#credit Luis Rosario - 2014

  script(src="http://code.createjs.com/soundjs-0.5.2.min.js")
  script(src="js/main.js")
</html>
